<!doctype html>
<html
    class="no-js"
    lang="en-us"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- META DATA -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--[if IE]>
  <meta http-equiv="cleartype" content="on"/><![endif]-->
  <!-- SEO -->
  <title>SnaFoo - Nerdery Snack Food Ordering System</title>
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="57x57" href="media/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="media/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="media/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="media/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
        href="media/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
        href="media/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
        href="media/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
        href="media/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
        href="media/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="media/images/favicon/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="media/images/favicon/favicon-160x160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="media/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="media/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="media/images/favicon/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="../assets/media/images/favicon/mstile-144x144.png">
  <meta name="msapplication-TileColor" content="#ff0000">
  <!-- STYLESHEETS -->
  <link href="css/modern.css" rel="stylesheet"/>
</head>
<body>
<div class="masthead" role="banner">
  <div class="masthead-hd">
    <h1 class="hdg hdg_1 mix-hdg_extraBold"><a href="/">SnaFoo</a>
    </h1>
    <p class="masthead-hd-sub">Nerdery Snack Food Ordering System</p>
  </div>
  <div class="masthead-nav" role="navigation">
    <ul>
      <li><a href="/voting">Voting</a>
      </li>
      <li><a href="/suggestions">Suggestions</a>
      </li>
      <li><a href="/shoppinglist">Shopping List</a>
      </li>
    </ul>
  </div>
</div>
<div class="masthead isHidden" style="background: red" id="apiDown" role="banner">
  <div class="masthead-hd">
    <p class="masthead-hd-sub">OCD API is down -- Please Come back later when it returns! </p>
  </div>
</div>
<div class="wrapper">
  <div class="content" role="main">
    <div class="shelf shelf_5">
      <h1 class="hdg hdg_1">Suggestions</h1>
    </div>
    <div class="shelf shelf_2">
      <p id='errorOccurredWhileSaving' th:text="${errorText}" class="error isHidden"></p>
    </div>
    <div class="shelf shelf_2">
      <div id="hasAlreadyVoted" class="error isHidden">You have already added the allowed number of
        suggestions
        per month!
        <br/>There is a total of one allowed suggestion per month.
      </div>
    </div>
    <div class="content-centered">
      <div class="shelf shelf_2">
        <form action="#" th:action="@{/suggestions}" th:object="${suggestSnackForm}" method="post">
          <fieldset class="shelf shelf_2">
            <div class="shelf shelf_2">
              <div class="shelf">
                <label for="snackOptions">
                  <h2 class="hdg hdg_2">Select a snack from the list</h2>
                </label>
              </div>
              <select name="snackOptions" id="snackOptions">
                <option value="" selected disabled hidden>Choose here</option>
                <tr th:each="snack : ${previouslySuggestedSnacks}" th:id="${snack.name}">
                  <option th:value="${snack.purchaseLocations}" th:text="${snack.name}">Orange
                  </option>
                </tr>
              </select>
            </div>
          </fieldset>
          <div class="shelf shelf_5">
            <p class="hdg hdg_1">or</p>
          </div>
          <fieldset class="shelf shelf_5">
            <div class="shelf">
              <label for="suggestionInput">
                <h2 class="hdg hdg_2">Enter new snack suggestion &amp; purchasing location</h2>
              </label>
            </div>
            <div class="shelf">
              <input type="text" th:field="*{name}" id="suggestionInput"
                     placeholder="Snack Suggestion"/>
              <div>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Purchase Location Error
                </td>
              </div>
            </div>
            <div class="shelf">
              <label for="suggestionLocation" class="isHidden">Location</label>
              <td><input type="text" th:field="*{purchaseLocation}" id="suggestionLocation"
                         placeholder="Location" class=""/></td>
              <div>
                <td th:if="${#fields.hasErrors('purchaseLocation')}"
                    th:errors="*{purchaseLocation}">
                  Purchase Location Error
                </td>
              </div>
            </div>
          </fieldset>
          <input type="submit" id="submit" value="Suggest this Snack!" name="submitSuggestion"
                 class="btn">
        </form>
      </div>
    </div>
  </div>
  <!-- /content -->
</div>
<!-- /wrapper -->
</body>
</html>
<script>
  window.onload = function () {
    var apiException = [[${apiException}]];
    if (apiException == true) {
      document.getElementById("apiDown").classList.remove('isHidden');
      document.getElementById("submit").disabled = true;
    }
    var hasAlreadyVoted = [[${hasAlreadyVoted}]];
    if (hasAlreadyVoted == true) {
      document.getElementById("hasAlreadyVoted").classList.remove('isHidden');
      document.getElementById("submit").disabled = true;
    }
    var errorOccurredWhileSaving = [[${errorOccurredWhileSaving}]];
    if (errorOccurredWhileSaving == true) {
      document.getElementById("errorOccurredWhileSaving").classList.remove('isHidden');
      $(':button').prop('disabled', true);
    }
  };
  $("#snackOptions").change(function () {
    var selectBox = document.getElementById("snackOptions");
    document.getElementById(
        "suggestionInput").value = selectBox.options[selectBox.selectedIndex].text;
    document.getElementById(
        "suggestionLocation").value = selectBox.options[selectBox.selectedIndex].value;

  });
</script>