<!doctype html>
<html
    class="no-js"
    lang="en-us"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- META DATA -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!--[if IE]>
  <meta http-equiv="cleartype" content="on"/><![endif]-->
  <!-- SEO -->
  <title>SnaFoo - Nerdery Snack Food Ordering System</title>
  <!-- ICONS -->
  <link rel="apple-touch-icon" sizes="57x57" href="media/images/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="media/images/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="media/images/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="media/images/favicon/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114"
        href="media/images/favicon/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120"
        href="media/images/favicon/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144"
        href="media/images/favicon/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152"
        href="media/images/favicon/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
        href="media/images/favicon/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="media/images/favicon/favicon-192x192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="media/images/favicon/favicon-160x160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="media/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="32x32" href="media/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="media/images/favicon/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="../assets/media/images/favicon/mstile-144x144.png">
  <meta name="msapplication-TileColor" content="#ff0000">
  <!-- STYLESHEETS -->
  <link href="css/modern.css" rel="stylesheet"/>
</head>
<body>
<div class="masthead" role="banner">
  <div class="masthead-hd">
    <h1 class="hdg hdg_1 mix-hdg_extraBold"><a href="/">SnaFoo</a>
    </h1>
    <p class="masthead-hd-sub">Nerdery Snack Food Ordering System</p>
  </div>
  <div class="masthead-nav" role="navigation">
    <ul>
      <li><a href="/voting">Voting</a>
      </li>
      <li><a href="/suggestions">Suggestions</a>
      </li>
      <li><a href="/shoppinglist">Shopping List</a>
      </li>
    </ul>
  </div>
</div>
<div class="masthead isHidden" style="background: red" id="apiDown" role="banner">
  <div class="masthead-hd">
    <p class="masthead-hd-sub">OCD API is down -- Please Come back later when it returns! </p>
  </div>
</div>
<div class="wrapper">
  <div class="content" role="main">
    <div class="shelf shelf_5">
      <h1 class="hdg hdg_1">Voting</h1>
    </div>
    <div class="shelf shelf_2">
      <p>You are able to vote for up to three selections each month.</p>
    </div>
    <div class="shelf shelf_2">
      <div class="voteBox">
        <div class="voteBox-hd">
          <h2 class="hdg hdg_3">Votes Remaining</h2>
        </div>
        <div class="voteBox-body">
          <p id="votesLeft" class="counter" th:text="${remainingVotes}">3</p>
        </div>
      </div>
    </div>
    <div class="shelf shelf_2">
      <p id='tooManyVotes' class="error isHidden">Oops! You have already voted the total allowed
        times this month.<br/>Come
        back next month to vote again!</p>
    </div>
    <div class="split">
      <div class="shelf shelf_2">
        <div class="shelf">
          <h2 class="hdg hdg_2 mix-hdg_centered ">Snacks Always Purchased</h2>
        </div>
        <ul class="list list_centered">
          <tr th:each="snack : ${alwaysPurchased}">
            <li th:text="${snack.name}">Oranges</li>
          </tr>
        </ul>
      </div>
    </div>
    <div class="split">
      <div class="shelf shelf_2">
        <div class="shelf">
          <h2 class="hdg hdg_2 mix-hdg_centered ">Snacks suggested this month</h2>
        </div>
        <div class="shelf shelf_5">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Snack Food</th>
              <th scope="col">Current Votes</th>
              <th scope="col">VOTE</th>
              <th scope="col">Last Date Purchased</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="snack : ${suggestedSnacks} " th:attr="id=${snack.id}">
              <td th:text="${snack.name}">Oranges</td>
              <td th:text="${snack.votes}">1</td>
              <td>
                <button onclick="addSnack(this)" th:attr="name=${snack.name}" class="btn btn_clear">
                  <i class="icon-check icon-check_noVote"></i>
                </button>
              </td>
              <td th:text="${snack.lastPurchasedDate} ?: 'Never Purchased'">11/21/2018</td>
              <p id="text" style="display:none">Checkbox is CHECKED!</p>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /content -->
</div>
<!-- /wrapper -->
</body>
</html>

<script>
  // update page with vote and vote count
  function addSnack(element) {
    var totalSnacksVoted = document.getElementsByClassName('icon-check_voted');
    var votesLeft = parseInt(document.getElementById("votesLeft").innerText);

    if (votesLeft > 0) {
      element.children[0].classList.remove('icon-check_noVote');
      element.children[0].classList.add('icon-check_voted');
      element.disabled = true;

      currentVotes = parseInt(element.parentNode.parentNode.children[1].innerHTML);
      element.parentNode.parentNode.children[1].innerHTML = currentVotes + 1;
      console.log(/*[[${userId}]]*/ 'NONE');
      $.ajax({
        "type": "POST",
        "dataType": "json",
        "url": "/",
        "data": {
          "snackName": element.name,
          "userId": [[${userId}]],
        },
        "success": function (result) {
          console.log(result);
        },
      });

      if (votesLeft == 3) {
        document.getElementById("votesLeft").classList.add('counter_yellow');
        document.getElementById("votesLeft").innerText = "2";
      } else if (votesLeft == 2) {
        document.getElementById("votesLeft").classList.add('counter_red');
        document.getElementById("votesLeft").innerText = "1";
      } else if (votesLeft == 1) {
        document.getElementById("votesLeft").classList.add('counter_red');
        document.getElementById("votesLeft").innerText = "0";
      }
    }
    else {
      document.getElementById("tooManyVotes").classList.remove('isHidden');
    }

  }

  // initialize the page with existing votes and vote count
  window.onload = function () {
    var votesLeft = parseInt(document.getElementById("votesLeft").innerText);
    if (votesLeft == 0 || votesLeft == 1) {
      document.getElementById("votesLeft").classList.add('counter_red')
    } else if (votesLeft == 2) {
      document.getElementById("votesLeft").classList.add('counter_yellow')
    } else if (votesLeft == 3) {
      document.getElementById("votesLeft").classList.add('counter_green')
    }

    var existingVotes = [[${existingVotes}]];
    for (i = 0; i < existingVotes.length; i++) {
      document.getElementById(existingVotes[i]).children[2].children[0].children[0].classList.add(
          'icon-check_voted');
      document.getElementById(existingVotes[i]).children[2].children[0].disabled = true;
      document.getElementById(
          existingVotes[i]).children[2].children[0].children[0].classList.remove(
          'icon-check_noVote');
    }
    var apiException = [[${apiException}]];
    if (apiException == true) {
      document.getElementById("apiDown").classList.remove('isHidden');
      $(':button').prop('disabled', true);
    }
  };
</script>